{% extends 'user_authentication/base.html' %}
{% load crispy_forms_tags %}


{% block style %}

{% endblock  %}


{% block content %}


{% if messages %}
{% for m in messages %}
    <div {% if m.tags %} class="{{m.tags}}" {% endif %}><small >{{m}}</small></div>
{% endfor %}
{% endif %}


<form style="width: 30%; margin: auto" action="" method="post" novalidate>
    <h1>Login Account</h1>
        {% csrf_token %} 

            {% if form.non_field_errors %}
                {% for er in form.non_field_errors %}
                <p style="color: red;">{{er}}</p>
                {% endfor %}
            {% endif %} 

            <!--{{form|crispy}}--> 
            {% for fm in form %}
            {{fm.label_tag}} {{fm}} <p style="color: red;">{{fm.errors|striptags}}</p> 
            {% endfor %}
    </small> <a href="{% url 'send-otp-email' %}"> *forgot password?</a> <br>
    <small class="fw-bold">You have no account?</small> <a href="{% url 'signup' %}">SignUp</a>
    <br>
    <button class="btn btn-warning" type="submit">Submit</button>
    </form>

{% endblock  %}