{% extends 'user_authentication/base.html' %}
{% load crispy_forms_tags %}

{% block style %}
    .badge{
        font-size: 14px;
    }
    {% comment %} .login_count{
        top: 86px;
        left: -14px;
    } {% endcomment %}
{% endblock  %}

{% block content %}
{% comment %} Message print {% endcomment %}
    {% if messages %}
        {% for m in messages %}
            <div {% if m.tags %} class="{{m.tags}}" {% endif %}><small >{{m}}</small></div>
        {% endfor %}
    {% endif %}

    <h1>Welcome, {{ name }}</h1>
    <button type="button" class="btn btn-danger mt-3">
        Login Time <span class="badge bg-light text-dark"> {{ login_count }}</span>
    </button>
    <div class="d-grid gap-2 col-2 mx-auto">
        <a  href={% url 'update' %} class="btn btn-primary">Update Profile</a>
        <a  href={% url 'change-pass' %} class="btn btn-primary">Change Password</a>
        {% if  user.is_superuser %}
        <a  href={% url 'book_management:add-books' %} class="btn btn-primary">Add New Books</a>
        {% endif %}
        <a href={% url 'book_management:show-wish-list' %} class="btn btn-primary" >Show Wish List</a>
        <a href={% url 'transaction:show-borrow-book' %} class="btn btn-primary" >All Borrowed Books</a>
        {% comment %} <a href={% url 'book_management:show-wish-list' %} class="btn btn-primary" >Add Money</a> {% endcomment %}
    </div>
    {% comment %} <div class="position-absolute login_count  p-3">
        <span class="badge my-login"> LogIn Times : {{ login_count }}</span>
    </div> {% endcomment %}

{% endblock  %}
